
<div class="row">
  <div id="first" class="col-6 col-md-4">
    <wfm-clock></wfm-clock>
    <wfm-alarm-clock *ngIf="command ==='будильник'"></wfm-alarm-clock>
    <!--<wfm-alarm-clock></wfm-alarm-clock>-->

  </div>
  <div id="logo" class="col-6 col-md-4"><!--<img class="logo" src="../assets/JARVIS_Logo.png">--></div>
  <div id="input" class="col-6 col-md-4">
        <div class="input-group"><textarea id="textarea" readonly rows="15" class="form-control"></textarea></div>
      <br>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
           <button id="speakButton" class="btn btn-outline-secondary" type="button">Speak</button>
           <button id="submitButton" class="btn btn-outline-secondary" type="button" (click)="submit()">Submit</button>
        </div>
        <input id="inputCommand" [(ngModel)]="command" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
</div>
