#h, #m, #s{
  background-color: #00b2c7;
  height: 50px;
  border-color: #21afce;
  color: white;
  margin: 2px 0 2px 0 !important;
  width: 33%;
}
#m{
  background-color: #0095b8;
}
#s{
  background-color: #0064a3;
}
.input-group-prepend{
  width: 100%;
}
#vikl, #vkl{
  width: 50%;
  border-radius: 4px;
}
